body { 
	margin:auto;
	height:100%;
	background:linear-gradient(#F5F5DC, #DEB887);
	background-repeat:no-repeat;
	background-attachment:fixed;
	color:#2F4F4F;

}

.menu {
	margin:-20px 50px 0px 50px;
}

.menu a {
	color:#2F4F4F;
	text-decoration:none;
}

#title {
	display:inline-block;
}

.menu h1 {
	font-family:"Lobster";
	font-size:75px;
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-shadow:2px 2px rgba(0,0,0,0.25);
}

.menu h3 {
	margin-top:-10px;
	font-family:"Verdana", Geneva, sans-serif;
}

.btn {
	width:200px;
	font-family:"Verdana", Geneva, sans-serif;
	background-color:#F5F5F5;
	margin-bottom:5px; 
	display:inline-block;
}

#button {
	width:50px;
	margin-bottom:-1px;
}

#citiesList {
	width:150px;
}

select {
	margin:0.5em 0 2em;
	-webkit-appearance:none;
}

#options {
	margin-top:50px;
	margin-right:100px; 
	float:right;
}

#p {
	color:#2F4F4F;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:15px;
}

.row {
	margin:0px 20px 25px 20px;
	background:rgba(255,255,255,0.30);  
}

#tweets {
	margin-top:15px;
	font-family:"Verdana", Geneva, sans-serif;
	font-size:15px;
	display:none;
}

#graph-title {
	margin-top:100;
	color:#2F4F4F;
	font-family:"Lobster";
	font-style:italic;
	font-variant:normal;
	font-weight:normal;
	text-shadow:2px 2px rgba(0,0,0,0.25);
}

li {
	font-family:"Verdana", Geneva, sans-serif;
	font-size:15px;
}

#tweets li {
	list-style-image:url("./twitterlogo.png");
}

h4 {
	margin:-25px 20px 0px 20px;
}

#credits {
    clear:both;
    position:relative;
    z-index:10;
    margin-top:-10px;
}
