<!DOCTYPE html>

<html>

	<head>

		<title>trendVs: Twitter where & what</title>

		<link rel="shortcut icon" href="/static/favicon.png" />

		<link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lobster' type='text/css' />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<script type="text/javascript" src="/static/d3/d3.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/style.css">

	</head>

<!-- 	<link rel="stylesheet" type="text/css" href="/static/style.css"> -->

	<body>

		<div class="menu">

			<div id="title">
			<h1><a href="/">trendVs</a></h1>
			<h3>where & what people are tweeting</h3>
			</div>

			<div id="options">
			<!-- City trend selection dropdown menu -->
			<form>
			<select class="btn" name="city" id="citiesList">

				<option value="2352824">Albuquerque</option>
				<option value="2355942">Arlington</option>
				<option value="2357024">Atlanta</option>
				<option value="2357536">Austin</option>
				<option value="2358820">Baltimore</option>
				<option value="2367105">Boston</option>
				<option value="2378426">Charlotte</option>
				<option value="2379574">Chicago</option>
				<option value="2381475">Cleveland</option>
				<option value="2383489">Colorado Springs</option>
				<option value="2383660">Columbus</option>
				<option value="2388929">Dallas</option>
				<option value="2391279">Denver</option>
				<option value="2391585">Detroit</option>
				<option value="2397816">El Paso</option>
				<option value="2406080">Fort Worth</option>
				<option value="2407517">Fresno</option>
				<option value="2423945">Honolulu</option>
				<option value="2424766">Houston</option>
				<option value="2427032">Indianapolis</option>
				<option value="2428344">Jacksonville</option>
				<option value="2430683">Kansas City</option>
				<option value="2436704">Las Vegas</option>
				<option value="2441472">Long Beach</option>
				<option value="2442047">Los Angeles</option>
				<option value="2449323">Memphis</option>
				<option value="2449808">Mesa</option>
				<option value="2450022">Miami</option>
				<option value="2451822">Milwaukee</option>
				<option value="2452078">Minneapolis</option>
				<option value="2457170">Nashville-Davidson</option>
				<option value="2458833">New Orleans</option>
				<option value="2459115">New York</option>
				<option value="2463583">Oakland</option>
				<option value="2464592">Oklahoma City</option>
				<option value="2465512">Omaha</option>
				<option value="2471217">Philadelphia</option>
				<option value="2471390">Phoenix</option>
				<option value="2475687">Portland</option>
				<option value="2486340">Sacramento</option>
				<option value="2487796">San Antonio</option>
				<option value="2487889">San Diego</option>
				<option value="2487956" selected>San Francisco</option>
				<option value="2488042">San Jose</option>
				<option value="2490383">Seattle</option>
				<option value="2508428">Tucson</option>
				<option value="2508533">Tulsa</option>
				<option value="2512636">Virginia Beach</option>
				<option value="2514815">Washington</option>
				<option value="2520077">Wichita</option>
			</select>
			<input type="submit" class="btn" id="button" value="Go!">
			</form>

			<!-- US comparison trend button -->
			<form>
			<button class="btn" id="versus-button" name="versus" type="submit" value="23424977">vs the United States</button>
			</form>
			</div>

		</div>

		<div class="row">

			<!-- Accepts error message from app.py -->
			<h1 align="center">{{ error_message }}</h1>

			<!-- Bubble chart(s) go here -->
			<div class="col-md-6">

				<div id="graph">
				
				<!-- Loads chart with page, gets parameters from app.py with San Francisco as default -->
				<script type="text/javascript">
				window.onload = function() {
						makeMagic({{ sf_trends_dict|tojson|safe }}, 600, 35);
					};
				</script>

				</div>

				<div id="vs-graph">
				</div>

			</div>

			<div class="col-md-6" id="tweets">

			<ul id="tweets"></ul>
			</div>

		</div>

		<script type="text/javascript" src="/static/d3_function.js"></script>

		<div id="credits">
			<h4 align="right">trendVs uses the Twitter API to create a D3 visualization | See the code on <a href="https://github.com/liz-acosta/hackbright-final-project" target="_blank">GitHub</a> | A <a href="http://www.hackbrightacademy.com/" target="_blank">Hackbright Academy</a> project by <a href="http://www.liz-acosta.com/" target="_blank">Liz Acosta</a></h4>
		</div>

	</body>

</html>