<!DOCTYPE html>

<html>

	<head>

		<title>trendVs: Twitter where & what</title>

		<link rel="stylesheet" href='//fonts.googleapis.com/css?family=Lobster' type='text/css' />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

		<script type="text/javascript" src="/static/d3/d3.min.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/style.css">

	</head>

	<body>

		<div class="menu">

			<div id="title">
			<h1><h1><a href="/">trendVs</a></h1>
			<h3>where & what people are tweeting</h3>
			</div>

		</div>

		<div class="row">

			<!-- Accepts error message from app.py -->

			<h1 align="center">{{ error_message }}</h1>

		</div>
		
		<script type="text/javascript" src="/static/d3_function.js"></script>

		<div id="credits">
			<h4 align="right">trendVs uses the Twitter API to create a D3 visualization | See the code on <a href="https://github.com/liz-acosta/hackbright-final-project" target="_blank">GitHub</a> | A <a href="http://www.hackbrightacademy.com/" target="_blank">Hackbright Academy</a> project by <a href="http://www.liz-acosta.com/" target="_blank">Liz Acosta</a></h4>
		</div>

	</body>

</html>