
{% if error_message==None %}
	
	{% for screenname, text, id in trend_tweets %}

	<li><strong>@{{ screenname }}</strong> tweeted, "{{ text }}"<br /> 
		<a href="https://twitter.com/megnist/status/{{ id }}" target="_blank">See their tweet</a>
	<p></p>

	{% endfor %}

{% else %}
	
	{{ error_message }}

{% endif %}


<p><button class="btn" id="more-tweets-button" name="tweet_id" type="submit" value="something" onclick="getValues()">More tweets</button></p>

<script type="text/javascript">
	function getValues(){
		// alert("{{ tweet_id }} + {{ trend }}");

		var tweet_id = "{{ tweet_id }}"

		var trend = "{{ trend }}"


		
		$.get("/status?trend=" + encodeURIComponent(trend) + "&tweet_id=" + tweet_id, function(data){
			$("#tweets").css("display", "none");
			// alert("YASS AGAIN");
			$("#tweets").load("/status?trend=" + encodeURIComponent(trend) + "&tweet_id=" + tweet_id, function() {
					$("#tweets").fadeIn("slow")
						console.log("Second")
					})
				})};

</script>

